APP_NAME="Bright Mind Computer Solutions"
APP_URL=http://localhost:8000
APP_ENV=development
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bmcs
DB_USERNAME=root
DB_PASSWORD=

SITE_PHONE="+971 4 227 1773"
SITE_EMAIL=info@bmcs.ae
WHATSAPP_NUMBER=

SESSION_NAME=bmcs_session
